@import "tailwindcss";

@theme {
  --breakpoint-xl: 75rem;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/Fonts/Montserrat/static/Montserrat-Regular.ttf') ;
}

html,body {
  width: 100%;
  height: 100%;
  box-sizing: border-box  !important;
  font-family: 'Montserrat';
  padding: 0 4px ;
}
